<launch>
  <rosparam param="/world/broadcast_transforms">true</rosparam>

  <include file="$(find lingua)/launch/lingua.launch">
    <arg name="method_path" value="$(find lingua_tests)/data/patrol/methods" />
    <arg name="objects_file" value="$(find lingua_tests)/data/patrol/environment/objects.json" />
    <arg name="types_file" value="$(find lingua_tests)/data/patrol/environment/types.json" />

    <arg name="handlers" value="$(find lingua_tests)/data/patrol/environment/handlers.json" />
  </include>
</launch>
