<launch>
  <include file="$(find lingua)/launch/lingua.launch">
    <arg name="method_path" value="$(find lingua_tests)/data/stage/methods" />
    <arg name="objects_file" value="$(find lingua_tests)/data/stage/environment/objects.json" />
    <arg name="types_file" value="$(find lingua_tests)/data/stage/environment/types.json" />
  </include>

  <include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch">
    <arg name="map_file" value="$(find turtlebot_stage)/maps/maze.yaml" />
    <arg name="world_file" value="$(find turtlebot_stage)/maps/stage/maze.world" />
  </include>

  <node pkg="rv_face_tracking" type="face_tracking_publisher" name="face_tracking" output="screen"/>
  
  <node pkg="lingua_tests" type="image_publisher" name="image_publisher" />
  <node pkg="lingua_tests" type="person_detector" name="person_detector" output="screen" />
  
</launch>